<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="SHELL_VERBOSITY" value="-1" />

        <server name="KERNEL_CLASS" value="BrandonlinU\DoctrineUtcBundle\Test\App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>

        <env name="APP_ENV" value="test" force="true" />
        <env name="APP_SECRET" value="$ecretf0rt3st"/>

        <env name="DATABASE_URL" value="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&amp;charset=utf8"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
